body {
  margin: 0;
  overflow-x: hidden;
}

@font-face {
  src: url("./assets/font/DancingScript-Bold.ttf");
  font-family: ds;
}

@font-face {
  src: url("./assets/font/Bitter-VariableFont_wght.ttf");
  font-family: bitter;
}

@keyframes formAnim {
  0% {
    transform: scaleY(0);
    transform: scaleY(0);
    transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    transform: scaleY(1);
    transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

@keyframes logoAnim {
  0% {
    transform: scale(2);
    transform: scale(2);
    filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    transform: scale(1);
    filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes gallAnim {
  0% {
    transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    transform: translateZ(160px);
    transform: translateZ(160px);
  }
}

@keyframes animT {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
